{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}

<section class='text-center container'>
    <h2>Vikipediyadagi maqolalarni qidirish</h2>
    <p>Natijalarni olish uchun faqat qidiruv so'rovini kiriting</p><b>Bo'sh joy qoldirmasdan kiriting</b>
    <form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
        <input class="btn btn-danger" type="submit" value="Submit">
    </form><br>

    <div class="container">
        <div class="content-section p-0 mt-5">
            <a href="" class="p-0 m-0" target="_blank">
                <div class="custom-header">
                    <h2>{{title}}</h2>{{title}}
                    <h6>{{link}}</h6>
                </div>
            </a>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{details}}
            </p>
            <hr>
        </div>
    </div>
</section>

{% endblock content %}